<?xml version="1.0" encoding="utf-8"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <configSections>
    <section name="ErrorHandling" type="System.Configuration.DictionarySectionHandler" />
  </configSections>
  <ErrorHandling>
    <add key="EnableLogging" value="true" />
    <add key="ErrorLogFilesDir" value="Log" />
  </ErrorHandling>
  <appSettings>
    <add key="ReportServerURL" value="http://localhost/Reportserver" />
    <add key="ReportPath" value="/BloomsReports/" />
    <add key="ReportServerUsername" value="SSRSUSER" />
    <add key="ReportServerPassword" value="SSrs88" />
    <add key="ExportFolder" value="ReportExports" />
	<add key="DBFPath" value="d:\data\misty\"/>
	<!-- <add key="DBFPath" value="E:\dflower\flower\"/>-->
    <add key="XmlPath" value="http://localhost/dfattachments/emotiongrowers/" />
    <add key="VendorEmailsFolder" value="e:\\BloomSites\\vendoremails\\" />
    <add key="VendorFromEmails" value="donotreply@dflower.net" />
    <add key="CompanyName" value="Emotion Growers" />
    <add key="CompanyNameForLabel" value="Emotion Growers" />
    <add key="CompanyAddressForLabel" value="" />
    <add key="ShipmentServiceURL" value="http://186.5.26.146:8080/barcode_dflwr/xml_barcode_dflwr.get_barcode_dflwr?p_mawb=" />
    <add key="ManualPoHeaderFilesPath" value="ManualPofiles/{0}" />
    <add key="SiteURL" value="http://localhost/EmotionGrowers" />
    <add key="TransferSplitingRangeValue" value="100" />
    <add key="CALLHS" value="H" />
    <add key="ScanningValidationKey" value="2" />
    <add key="UserUploadPath" value="UserUploads" />
    <add key="GrowerReportInvoicePath" value="GrowerReport/Invoice/{0}" />
    <add key="GrowerReportFarmPath" value="GrowerReport/Farm/{0}" />
    <add key="CreditRequestPath" value="CreditRequestImages/{0}/{1}" />
    <add key="IsKometSales" value="No" />
    <add key="KometAPIURI" value="" />
    <add key="KometAPIToken" value="" />
    <add key="InventoryAndOrderReadFromSQL" value="1" />
    <add key="lTransferToHistory" value="0" />
    <add key="lHideVCG" value="1" />
    <add key="PrinterFolder" value="Printer\" />
    <add key="SentToLoggedUser" value="1" />
    <add key="CreditPreAdviceFromEmail" value="donotreply@dflower.net" />
    <add key="IsSendInvoiceOnEOD" value="1" />
    <add key="WallMartSellByCaption" value="SELL BY DATE" />
    <add key="FloridaBeautyAPIURL" value="https://www.floridabeauty.com/edi/upload" />
    <add key="FloridaBeautyUserName" value="" />
    <add key="FloridaBeautyPassword" value="Egrowers258" />
    <add key="FloridaBeautyShipper" value="41284" />
    <add key="PrinterPDFUserName" value="EmotionGrowers" />
    <add key="PrinterPDFPassword" value="" />
    <add key="CreditCcMail" value="CC:jose@dflower.com" />
    <add key="ArmelliniXML" value="armelli" />
    <add key="FloridaXML" value="florida" />
    <add key="ArmelliniXMLEmailsFolder" value="D\XMLfolders\emotiongrowers\" />
    <add key="SetNewArmellini" value="1" />
    <add key="ArmelliniUserName" value="dflower" />
    <add key="ArmelliniPassword" value="4Mv+Pwv)2e" />
    <add key="ArmelliniShipper" value="M000645" />
    <add key="SendAllArmelliniEmails" value="0" />
    <!--New added key for Loading-data in Inventory-Everything-->
    <add key="lLoadallCoolerInventory" value="0" />
    <add key="CanshowCustOnGrid" value="0" />
    <add key="HideCustomerOnCreatePO" value="0" />
    <add key="HideCustomerNameOnCreatePO" value="1" />
    <add key="POConfirmedStatusCodes" value="'CONFIRMED', 'STANDING', 'STAND-ADE', 'BY-WEEKLY', 'POSTED','PARTIAL'" />
    <add key="POPendingStatusCodes" value="'PENDING', 'EMAILED'" />
    <!--<add key="MailJetEmailAPIpublicKey" value="7a8ed253bd7d564da4730d81416e95df" />
    <add key="MailJetEmailAPIprivateKey" value="d1a2677e5be5b851329b5d5fa042a6a0" />-->
    <add key="MailJetEmailAPIpublicKey" value="cd86732dffea48624732f1b625f739b0" />
    <add key="MailJetEmailAPIprivateKey" value="b60e7a3aa9aed831adb9f57235965ca4" />
	<add key="InvoiceReportName" value="rptInvoiceRetail" />
  </appSettings>
  <connectionStrings>
	  <add name="BloomsConnectionString" connectionString="Data Source=LAPTOP-NUPR82VN;Initial Catalog=DfDirect;User ID=sa;Password=123456" providerName="System.Data.SqlClient" />
	 
	  <!-- ctrl k ctrl C   ctrl k ctrl U-->
  </connectionStrings>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
    <defaultDocument>
      <files>
        <clear />
        <add value="Login.aspx" />
      </files>
    </defaultDocument>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <add name="ReportViewerWebControlHandler" verb="*" path="Reserved.ReportViewerWebControl.axd" preCondition="integratedMode" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
      <add verb="*" path="captimage.axd" name="syncfusion_generatetools" type="Syncfusion.JavaScript.ImageHandler, Syncfusion.EJ, Version=19.4450.0.43, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
    </handlers>
  </system.webServer>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.  

    The following attributes can be set on the <httpRuntime> tag.
  
  <system.Web>
    <httpRuntime targetFramework="4.5" />
  </system.Web>
   -->
  <system.web>
    <!--<httpRuntime maxRequestLength="1048576" executionTimeout="5000"/>-->
    <httpRuntime maxRequestLength="1048576" executionTimeout="103600" />
    <customErrors mode="Off" />
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.

            Visual Basic options:
            Set strict="true" to disallow all data type conversions 
            where data loss can occur. 
            Set explicit="true" to force declaration of all variables.
        -->
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5">
      <assemblies>
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Net.Http, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="WindowsBase, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="Microsoft.CSharp, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.ReportViewer.Common, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="PresentationCore, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Threading.Tasks, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
      </buildProviders>
    </compilation>
    <pages viewStateEncryptionMode="Never" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <namespaces>
        <clear />
        <add namespace="System" />
        <add namespace="System.Collections" />
        <add namespace="System.Collections.Generic" />
        <add namespace="System.Collections.Specialized" />
        <add namespace="System.Configuration" />
        <add namespace="System.Text" />
        <add namespace="System.Text.RegularExpressions" />
        <add namespace="System.Linq" />
        <add namespace="System.Xml.Linq" />
        <add namespace="System.Web" />
        <add namespace="System.Web.Caching" />
        <add namespace="System.Web.SessionState" />
        <add namespace="System.Web.Security" />
        <add namespace="System.Web.Profile" />
        <add namespace="System.Web.UI" />
        <add namespace="System.Web.UI.WebControls" />
        <add namespace="System.Web.UI.WebControls.WebParts" />
        <add namespace="System.Web.UI.HtmlControls" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
    </pages>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows" />
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
    <sessionState timeout="270" />
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" validate="false" />
      <add verb="*" path="captimage.axd" type="Syncfusion.JavaScript.ImageHandler, Syncfusion.EJ, Version=19.4450.0.43, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
    </httpHandlers>
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
      </providers>
    </roleManager>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483647" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.6.0" newVersion="1.8.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!-- <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="DataEntryEndpointServiceSoapBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://aelis4webservice.armellini.com/data-entry/ws/DataEntryService" binding="basicHttpBinding" bindingConfiguration="DataEntryEndpointServiceSoapBinding" contract="DataEntryService.DataEntryPort" name="DataEntryEndpointPort" />
    </client>
  </system.serviceModel> -->
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SecuritySoap" maxReceivedMessageSize="2147483647" />
        <binding name="ArmelliniServicesGenericSoap" maxReceivedMessageSize="2147483647">
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="Certificate" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="DataEntryEndpointServiceSoapBinding">
          <security mode="Transport">
          </security>
        </binding>
      </basicHttpBinding>
      <customBinding>
        <binding name="ArmelliniServicesGenericSoap">
          <httpsTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="https://secure2.armellini.com/secure/wsArmellini/ArmelliniServicesGeneric.asmx" binding="basicHttpBinding" bindingConfiguration="ArmelliniServicesGenericSoap" contract="wsArmellini.ArmelliniServicesGenericSoap" name="ArmelliniServicesGenericSoap" />
      <endpoint address="https://aelis4webservice.armellini.com/data-entry/ws/DataEntryService?wsdl" binding="basicHttpBinding" bindingConfiguration="DataEntryEndpointServiceSoapBinding" contract="DataEntryService.DataEntryPort" name="DataEntryEndpointPort" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior name="defaultProfile">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>